doctype html
html
    head
        title= title
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Inconsolata')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript' src='/assimilate')
    body
        block content