extends layout

block content
    h3 List
    table
        tr
            th Name
            th Latest contact
            th Link
        each val in drones
            tr
                td #{val.name}
                td #{val.timestamp}
                td
                    a(href="/details?name=#{val.name}") Details
