body {
    font-family: 'Inconsolata';
    padding: 50px;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    background-color: #000;
    color: greenyellow;
}

a {
    color: #00B7FF;
}